/* Color styles */
:root {
  --grayish-blue: rgba(132, 134, 169, 1);
  --soft-red: rgba(251, 96, 135, 1);
  --soft-red-d: #d74e6e;
  --dark-desaturated-blue: rgba(52, 54, 80, 1);
  --dark-desaturated-blue-d: #2c2c44;
  --very-dark-blue: rgba(30, 31, 41, 1);
  --mostly-black: rgba(25, 26, 36, 1);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

////////////////
// BACKGROUND //
////////////////
body {
  width: 100%;
  min-height: 100vh;
  min-width: 375px;
  background-color: var(--very-dark-blue);
  font-family: "Red Hat Text", sans-serif;
  color: var(--grayish-blue);
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 231px);
  background-image: url("./images/bg-stars.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.hills {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 197px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 96px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social a {
  margin: 0 16px;
}

.attribution {
  font-size: 10px;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 0.15em;
  color: var(--grayish-blue);
}
.attribution a {
  color: var(--grayish-blue);
}

h1 {
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.34em;
  color: #ffffff;
  padding: 135px 0 107px;
}

////////////////
// COUNTDOWN  //
////////////////
.countdown {
  width: 688px;
  height: 140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  perspective: 1000px;
}
.counter {
  width: 148px;
  height: 70px;
  position: relative;
}
.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark-desaturated-blue);
  color: var(--soft-red);
  line-height: 140px;
  letter-spacing: -0.025em;
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.top-fixed,
.bottom-fixed {
  filter: drop-shadow(0 12px 0 var(--mostly-black));
}
.dark-border {
  width: calc(100% - 12px);
  height: 1px;
  position: absolute;
  left: 6px;
  bottom: 0;
  mix-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 9;
}
.light-border {
  width: calc(100% - 12px);
  height: 2px;
  position: absolute;
  left: 6px;
  top: 0;
  mix-blend-mode: lighten;
  opacity: 0.66;
  background-color: rgba(255, 255, 255, 0.03);
  z-index: 1;
}

.top-fixed,
.card__face--front {
  background-color: var(--dark-desaturated-blue-d);
  color: var(--soft-red-d);
  border-radius: 6px 6px 0 0;
  &::before {
    content: "";
    position: absolute;
    left: -6px;
    bottom: -6px;
    background-color: var(--very-dark-blue);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    right: -6px;
    bottom: -6px;
    background-color: var(--very-dark-blue);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 2;
  }
}
.bottom-fixed,
.card__face--back {
  border-radius: 0 0 6px 6px;
  &::before {
    content: "";
    position: absolute;
    left: -6px;
    top: -6px;
    background-color: var(--very-dark-blue);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    right: -6px;
    top: -6px;
    background-color: var(--very-dark-blue);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 2;
  }
}
// .figures-top {
//   transform: translateY(6px);
// }

.card__face--back {
  transform: rotateX(180deg);
}
.figures-bottom {
  transform: translateY(-70px);
}

.top-fixed {
  position: absolute;
  width: 100%;
  height: 100%;
}
.bottom-fixed {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.moving-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  transform-origin: bottom;
  z-index: 1;
  // transform: rotateX(-45deg);
}

.moving-card.flip {
  transition: transform 0.6s cubic-bezier(0.8, 0, 1, 0.3);
  transform: rotateX(-180deg);
}

.legend {
  width: 688px;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h5 {
    width: 148px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.34em;
  }
}

////////////////
// RESPONSIVE  //
////////////////
@media (max-width: 800px) {
  h1 {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.34em;
    padding: 142px 42px 54px;
  }
  .countdown {
    width: 327px;
    height: 70px;
    perspective: 600px;
  }
  .counter {
    width: 66px;
    height: 35px;
  }
  .card__face {
    line-height: 70px;
    font-size: 36px;
  }
  .figures-bottom {
    transform: translateY(-35px);
  }
  .dark-border {
    width: calc(100% - 6px);
    left: 3px;
  }
  .light-border {
    width: calc(100% - 6px);
    left: 3px;
  }
  .top-fixed,
  .card__face--front {
    &::before {
      content: "";
      left: -3px;
      bottom: -3px;
      width: 6px;
      height: 6px;
    }
    &::after {
      content: "";
      right: -3px;
      bottom: -3px;
      width: 6px;
      height: 6px;
    }
  }
  .bottom-fixed,
  .card__face--back {
    &::before {
      content: "";
      left: -3px;
      top: -3px;
      width: 6px;
      height: 6px;
    }
    &::after {
      content: "";
      right: -3px;
      top: -3px;
      width: 6px;
      height: 6px;
    }
  }
  .legend {
    width: 327px;
    margin: 13px auto;
    h5 {
      width: 71px;
      font-size: 7px;
      line-height: 20px;
      letter-spacing: 0.42em;
    }
  }
}
